<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="slider">
      <ul class="slides" id="main">
        <li>
          <video  id="video" src="/assets/about_me_final-cfc9696f068d6c7808a46722a65911ff298a21f58738a82abc790e3fbbddf877.mp4" autoplay="true" loop="true"></video>
          <div class="row">
            <div class="col s12"><p><br></p></div>
            <div class="col s12"><p><br></p></div>
            <div class="col s12"><p><br></p></div>
              <div class="overlay">
                <h6 id="name-text">jhun de Andres</h1>
                  <div class="box">
                  <h5 id='description-text'>full-stack developer.</h1>
                  </div>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>

      <div class="col s12">
        <h6 id="about-text">I am a <strong>passionate </strong> about<br></h6>
         <h5 id="second-line">People, Learning, Technology, & Collaboration</h5>
          <h5 id="sub-text">"Software is about pushing the limits and effecting positive change in people's lives."</h5>
          <div class="col s12"><p><br></p></div>
          <div class="col s12"><p><br></p></div>
          <div class="col s12 m6 l3 framework"> <%=image_tag('rails.png') %><h6>Rails</h6>
            <p id='about-me-text'>
              I am proficient in the rails framework and I utilize it to build beautiful applications that powerfully communicate information with ease.
              I enjoy writing <strong>scalable</strong> and <strong>transferable</strong> code that I am excited to share.

            </p>
          </div>
          <div class="col s12 m6 l3 framework"> <%= image_tag('javascript.png') %><h6>JavaScript</h6>
            <p id='about-me-text'>
              JavaScript is something I really appreciate. It's ability to be <strong>functional</strong> and<strong> object-oriented</strong> makes it a powerful tool.
              From <strong> partial functions</strong> to building constructors and classes it makes a very versatile. I desire to continue learning it's amazing frameworks and powerful libraries.
            </p>
          </div>
          <div class="col s12 m6 l3 framework"> <%= image_tag('craft.png') %>   <h6>Craft</h6>
            <p id='about-me-text'>
              Writing code is hard. Writing good code is even harder. I strive to write agnostic code that sticks to foundational concepts.
              From <strong>TDD</strong> to the<strong> Law of Demeter</strong> these foundational concepts help guide us build strong  maintainable code.
            </p>
          </div>
          <div class="col s12 m6 l3 framework"> <%=image_tag('collaboration.png') %> <h6>Collaboration</h6>
            <p id='about-me-text'>
              My best work has been done in a <strong>collaborative environment</strong>. I am a <strong>team player</strong> and I enjoy leading
              and pushing people to give it their all. I am a strong believer in pair programming and it's benefits.
            </p>
          </div>
          <div class="col s12"><p><br></p></div>
          <div class="col s12"><p><br></p></div>
          <div class="col s12"><p><br></p></div>
      </div>

    </div>

    <div class="row" id='projects'>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
      <h6 id='port-text'> projects.</h6>
      <h5 id="sub-text">"A collection of all my recent work."</h5>
      <div class="col s12"><p><br></p></div>
      <ul class="bxslider">
        <li><div class="card small ">
        <div class="col s12 m6 l2 "><p></p></div>
        <div class="col s12 m6 l3" class="container"> <%= image_tag('clouds.gif') %>  </div>
        <div class="col s12 m6 l3" class="container"> <%= image_tag('rain.gif') %></div>
        <div class="col s12 m6 l3" class="container"><%= image_tag('snow.gif') %></div>
      </div>
      <div class="container">
          <h6 id="title">TRELORA Leaderboard</h6>
          <h6>This is a JavaScript application living inside a Rails shell. This application displays information coming from
            TRELORA’s internal API. The application is making staggered API calls using jQuery AJAX  and the dynamic background will change based on the weather </h6>

      </div>
        </li>
        <li>
          <div class="col s12">
          <div class="container">  <%= image_tag('npm.png') %> </div>
          </div>
          <div class="col s12"><p > </p></div>
          <div class="container">
            <h6 id="title">Electron OCR</h6>
            <h6> This is a Electron.js application (desktop) that utilizes OCR technology. In this application you can upload a photo
               with text and the application will pull out the text from the photograph for you instantly.
               The application is also an NPM node module. I was responsible for building out the Electron shell and implementing the OCR libraryThis is a Electron.js application (desktop)
               that utilizes OCR technology. In this application you can upload a photo with text and the application will pull out the text from the photograph for you instantly.
               the application is also an <strong><a href="https://www.npmjs.com/package/electron-ocr" target="_blank">NPM node module.</a></strong></h6>
            <h6><strong><a href="https://github.com/joshuajhun/electron-ocr" target="_blank" >REPO</a></strong></h6><h6>
          </div>
      </li>
      <li>
        <div class="col s12">
          <div class="container">  <%= image_tag('tetris.png') %> </div>
        </div>
        <div class="col s12"><p > </p></div>
        <div class="container">
          <h6 id="title">Tetris </h6>
          <h6> This is a version of the classic block matching game Tetris. This was built in Javascript and jQuery using Lodash and HTML5 canvas.</h6>
          <h6><strong><a href="https://github.com/joshuajhun/tetris" target="_blank" >REPO</a></strong></h6><h6>
          <h6><strong><a href="http://acareaga.github.io/tetris/" target="_blank" >PLAY THE GAME</a></strong></h6><h6>
        </div>
      </li>

        <li><div class="col s12">
          <div class="container">  <%= image_tag('ticketly.png') %> </div>
        </div>
        <div class="col s12"><p > </p></div>
        <div class="container">
          <h6 id="title">Ticketly</h6>
          <h6> Ticketly is a multi-tenancy rails application where a user can buy, purchase and sell tickets. It was orginally a single responsibility ecommerce cite that me and a group of developers pivoted.</h6>
          <h6><strong><a href="ticketly.herokuapp.com" target="_blank" >PRODUCTION</a></strong></h6><h6>
          <h6><strong><a href="https://github.com/joshuajhun/electron-ocr" target="_blank" >REPO</a></strong></h6><h6>
        </div></li>

        <li>
          <div class="col s12">
          <div class="container">  <%= image_tag('rails_engine.png') %> </div>
          </div>
          <div class="col s12"><p > </p></div>
          <div class="container">
            <h6 id="title">Rails Engine </h6>
            <h6> Rails engine is an application that consume e-commerce data and serves up an internal API. The application is making complex Active-Record queries to the database and making it available to the user.</h6>
            <h6><strong><a href="https://github.com/joshuajhun/rails_engine" target="_blank" >REPO</a></strong></h6><h6>
          </div>
        </li>

      </ul>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
    </div>
    <div class="col s12"><p><br></p></div>
    <div class="col s12"><p><br></p></div>
    <div class="row" id='blog'>
      <h6 id='port-text'> Blog</h6>
      <h5 id="sub-text">"I write stuff"</h5>
      <div class="col s12"><p><br></p></div>
      <div class="collection container">
        <li class="collection-item avatar">
          <img src="assets/medium.jpg" alt="" class="circle">
        <a href="https://medium.com/@joshuajhun/how-turing-school-changed-my-life-605b9c28e6bf#.trim8du0d" class="collection-item" target="_blank">How Turing School Changed My Life</a>
      </li>
      <li class="collection-item avatar">
        <img src="assets/medium.jpg" alt="" class="circle">
        <a href="https://medium.com/@joshuajhun/the-power-of-partial-functions-higher-level-functions-c37311a8dcfd#.6p6uh4ezh" class="collection-item" target="_blank">The power of partial functions (higher level functions)</a>
      </li>
      <li class="collection-item avatar">
        <img src="assets/medium.jpg" alt="" class="circle">
        <a href="https://medium.com/@joshuajhun/that-one-time-i-built-a-desktop-application-1683e6901e86#.uvmft2iay" class="collection-item" target="_blank">That One Time I built a Desktop Application...</a>
      </li>
      <li class="collection-item avatar">
        <img src="assets/medium.jpg" alt="" class="circle">
        <a href="https://medium.com/@joshuajhun/tdd-is-not-dead-how-i-wrote-80-unit-tests-in-javascript-bf551bcfccf3#.zbd29j7fu" class="collection-item" target="_blank">TDD is not dead! (How I wrote 80+ unit tests in JavaScript.)</a>
      </li>
      </div>
      <div class="col s12"><p><br></p></div>
      <div class="col s12"><p><br></p></div>
    </div>

  </body>
  <footer class=" grey darken-3 page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Jhun de Andres </h5>
        <h6 class="white-text">(858) 722-7866 </h6>
        <h6 class="white-text">joshuajhun@gmail.com </h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="assets/resume.pdf" download>Resume</a></li>
          <li><a class="grey-text text-lighten-3" href="www.linkedin.com/in/joshuajhun">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="www.github.com/joshuajhun">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="www.twitter.com/joshuajhun">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="www.medium.com/@joshuajhun">Medium</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
</html>
